/Manifest.toml
/runtime_comparison.jl
/Superresolution_test.jl
/T42 data preprocessing.jl
/inference_time_test.jl
/figures/
/data/ERA5-sf-t21q.nc
/data/t21_qg3_data_SH_CPU.jld2
/data/t42_qg3_data_SH_CPU.jld2
/models/