name: Documentation

on:
  push:
    branches:
      - main
    tags: '*'
  pull_request:

jobs:
  build:
    permissions:
      actions: write
      contents: write
      pull-requests: read
      statuses: write
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - uses: julia-actions/setup-julia@latest
        with:
          version: '1.12'
      - name: Clean Julia depot and artifacts
        run: |
          rm -rf ~/.julia/compiled ~/.julia/artifacts ~/.julia/packages
      - name: Precompile packages
        run: julia -e 'using Pkg; Pkg.instantiate(); Pkg.precompile()'
      - name: Install dependencies
        run: julia --color=yes --project=docs/ -e 'using Pkg; Pkg.develop(PackageSpec(path=pwd())); Pkg.instantiate()'
      - name: Build and deploy
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }} # For authentication with GitHub Actions token
          DOCUMENTER_KEY: ${{ secrets.DOCUMENTER_KEY }} # For authentication with SSH deploy key
        run: JULIA_DEBUG=Documenter julia --color=yes --project=docs/ docs/make.jl